{% extends 'base.html' %}

{% block content %}
<h1 class="res1">Blogs</h1>
<div class="centerstage">

    {% for post in post_list %}
        <div class="post">
            <h1 ><a class="res2" href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p style="color:#ffffff">Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <a class="res2" style="font-size: 15px" href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
