<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Your Resume</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'CSS/myresume.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Spectral" rel="stylesheet">
  <script type="text/javascript" src="{% static 'JS/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'JS/myresume.js' %}"></script>

</head>
<body>
  <nav id="main-menu">
     <ul class="nav-bar">
          <li class="nav-button-home"><a href="{% url 'home' %}">Home</a></li>
          <!-- <li class="nav-button-services"><a href="{% url 'blog:apps_list' %}">App List</a></li> -->
          <li class="nav-button-products"><a href="{% url 'myresume:webresumepage' %}">Generate Web Resume</a></li>
     </ul>
</nav>
  <div id="wrap">

    <div>
      <h1 class="res_1">Personal Information
        {% if basic_info_list.count == 0%}
        <a class="btn btn-primary right" href="{% url 'myresume:basic_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </h1>
      {% for info in basic_info_list %}
      <div>
        <h2 class="res_2">{{ info.full_name }}</h2>
        <div class="res_3">
          <p>Ttile: {{ info.title}}</p>
          <p>Birth: {{ info.birthday|date:"D M Y"}}</p>
          <p>E-mail: {{info.email}}</p>
          <p>Phone: {{info.phone}}</p>
          <p>Address: {{info.address}}, {{info.city}}, {{info.state}} {{info.zipcode}}</p>
        </div>
      </div>
      <a class="btn btn-primary" href="{% url 'myresume:basic_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'myresume:basic_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endfor %}
    </div>

    <div>
      <h1 class="res_1">Education Experience<a class="btn btn-primary right" href="{% url 'myresume:edu_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h1>
      {% for info in education_list %}
        <h2 class="res_2">{{ info.education_name }}<p class="right">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p></h2>
        <div class="res_3">
          <p>Major: {{info.major}} Degree: {{info.degree}}</p>

        </div>
      <a class="btn btn-primary" href="{% url 'myresume:edu_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'myresume:edu_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endfor %}
    </div>


    <div>
      <h1 class="res_1">Project Experience<a class="btn btn-primary right" href="{% url 'myresume:pro_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h1>
      {% for info in project_list %}
      <div>
        <h2 class="res_2">{{ info.project_name }}<p class="right">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p></h2>
        <div class="res_3">

          <p>{{info.description|safe|linebreaksbr}}</p>
        </div>
      </div>
      <a class="btn btn-primary" href="{% url 'myresume:pro_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'myresume:pro_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endfor %}
    </div>


    <div>
      <h1 class="res_1">Work Experience<a class="btn btn-primary right" href="{% url 'myresume:work_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h1>
      {% for info in work_list %}
      <div>
        <h2 class="res_2">{{ info.work_title }} <p class="right">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p></h2>
        <div class="res_3">
          <p>{{info.company_name}}</p>

          <p>{{info.description|safe|linebreaksbr}}</p>
        </div>
      </div>
      <a class="btn btn-primary" href="{% url 'myresume:work_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'myresume:work_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endfor %}
    </div>


    <div>
      <h1 class="res_1">Skills<a class="btn btn-primary right" href="{% url 'myresume:skill_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h1>
      {% for info in skill_list %}
      <div class="res_2">
        {{ info.skill_name }}
        <!-- <div class="date">
        <p>Start Date: {{ info.start_date|date:"D M Y"}} End Date: {{ info.end_date|date:"D M Y"}}</p>
      </div> -->
    </div>
    <a class="btn btn-primary" href="{% url 'myresume:skill_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-primary" href="{% url 'myresume:skill_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endfor %}
  </div>


  <div>
    <h1 class="res_1">Awards<a class="btn btn-primary right" href="{% url 'myresume:award_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h1>
    {% for info in award_list %}
    <div class="res_2">
      {{ info.award_name }}<p class="right">{{ info.get_year|date:"M Y"}}</p>
    </div>
    <a class="btn btn-primary" href="{% url 'myresume:award_edit' pk=info.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-primary" href="{% url 'myresume:award_remove' pk=info.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endfor %}
  </div>


</div>
</body>
</html>
