<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Web Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Web Resume"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'CSS/webcv.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<!-- <div id="headshot" class="quickFade">
			<img src="{% static 'img/headshot.jpg' %}" alt="No Image Uploaded" />
		</div> -->

		<div id="name">
			<h1 class="quickFade delayTwo">{{basic_info_list.0.full_name}}</h1>
			<h2 class="quickFade delayThree">{{basic_info_list.0.title}}</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>E-mail: <a href="{{basic_info_list.0.email}}" target="_blank">{{basic_info_list.0.email}}</a></li>
				<li>Phone: {{basic_info_list.0.phone}}</li>
				<li>Address: {{basic_info_list.0.address}}</li>
				<li>Location: {{basic_info_list.0.city}}, {{basic_info_list.0.state}} {{basic_info_list.0.zipcode}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<!-- <section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section> -->
{% if education_list.count != 0%}
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				{% for info in education_list %}
				<article>
					<h2>{{info.education_name}}</h2>
					<p class="subDetails">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p>
					<p>{{info.degree}} in {{info.major}}</p>
				</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
	{% endif %}

{% if work_list.count != 0%}
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				{% for info in work_list %}
				<article>
					<h2>{{info.work_title}} at {{info.company_name}}</h2>
					<p class="subDetails">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p>
					<p>{{info.description|safe|linebreaksbr}}</p>
				</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
{% endif %}

{% if project_list.count != 0%}
		<section>
			<div class="sectionTitle">
				<h1>Project Experience</h1>
			</div>

			<div class="sectionContent">
				{% for info in project_list %}
				<article>
					<h2>{{info.project_name}}</h2>
					<p class="subDetails">{{ info.start_date|date:"M Y"}} - {{ info.end_date|date:"M Y"}}</p>
					<p>{{info.description|safe|linebreaksbr}}</p>
				</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
{% endif %}

{% if skill_list.count != 0%}
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					{% for info in skill_list %}
					<li>{{info.skill_name}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</section>
{% endif %}


{% if award_list.count != 0%}
		<section>
			<div class="sectionTitle">
				<h1>Awards</h1>
			</div>

			<div class="sectionContent">
				{% for info in award_list %}
				<article>
					<h2>{{info.award_name}}</h2>
					<p class="subDetails">{{ info.get_year|date:"M Y"}}</p>
				</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
{% endif %}

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
