{% extends 'mymsg/msgbox.html' %}
{% block content %}
{{msg.hasread}}
<div class="window-area">
  <div class="conversation-list">
    <ul class="">
      <li class="item"><a href="{% url 'mymsg:msgcompose'%}"><i class="fa fa-list-alt"></i><span>Compose</span></a></li>
      <li class="item active"><a href="{% url 'mymsg:msginbox'%}"><i class="fa fa-user"></i><span>Inbox</span></a></li>
    </ul>
  </div>
  <div class="chat-area">
    <ul>
      <li class="me">
        <div class="name">
          <span class="">From: {{msg.sender}}</span>
        </div>
        <div class="message">

          <p>{{msg.title}}</p>
          <span class="msg-time">{{msg.sent_time}}</span>
        </div>
      </li>
      <p>{{ msg.text|safe|linebreaksbr }}</p>
      <br>
    </ul>
  </div>
</div>

{% endblock %}
