html {
  height: 100%;
}
/*body {
  background:
    -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
    background-repeat:no-repeat;
    background-size:100% ;
    background-color: #ffa041;
    margin: 0;
  padding: 0;
  height: 100%;
}*/

body{
  margin: 0;
 padding: 0;
 height: 100%;
 background-color: #d8887d;

background-image: -webkit-linear-gradient(top, #33bef4, transparent);
background-image: -moz-linear-gradient(top, #33bef4, transparent);
background-image: -o-linear-gradient(top, #33bef4, transparent);
background-image: linear-gradient(to bottom, #33bef4, transparent);
background-repeat:no-repeat;
background-size:100% 300px;
}
/*#content{
    background-color: transparent;

  background-size:50px 50px;

}*/

/*body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ed9231;
}*/
li{
  /*position: absolute;*/
  z-index: 999;
}
.cf:before, .cf:after {
  content:" ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.menu {
  list-style:none;
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  -webkit-transform: skewX(25deg);
}
.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}
.menu li:hover {
  background: #e74c3c;
}
.menu > li > a {
  -webkit-transform: skewX(-25deg);
  padding: 1em 2em;
}
/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  -webkit-transform: skewX(-25deg);
  -webkit-transform-origin: left top;
}
.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;
}
.submenu > li > a {
  padding: 1em 2em;
}
.submenu > li::after {
  content:'';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
  -webkit-transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
  right: -50%;
  -webkit-transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
  -webkit-transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
  left: -50%;
  -webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
  opacity: 0;
  visibility: hidden;

}
.submenu li {
  transition: .2s ease -webkit-transform;
}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(-15px);
}

.show-menu {
	text-decoration: none;
	text-align: center;
	display: none;
  margin-bottom: 20px;
  z-index: 999;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ .menu{
    display: block;
}

@media screen and (max-width : 980px){
  .menu {
    display: none;
    width: 100%;
  }

  .menu ul{
    width: 100%;
    float: none;
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 0;
  }
  .menu ul li{
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .show-menu {
   display:block;
 }

}
